.containRow{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    padding:20px;
    justify-content: center;

}

.rowItem{

    padding:10px;
border: 1px solid black;
}

.container{
padding:20px;
display: grid;
grid-template-columns: 20% 20% 20%;
justify-content: center;


}

.itemgrid{
padding:10px;
border: 1px solid black;


}


/*css for form astetics*/

.container2{
    padding:20px;
    display: grid;
    grid-template-columns: 20% 20% 20% ;
    justify-content: center;
    
    
    }

.itemgrid2{
    padding:10px;
    border: 1px solid black;
    
    
    }


    @media screen and (max-width: 768px) {
    #btnSubmit{

        width: 100%;
    }
    #btnSubmit2{
        width: 100%;


    }

      }


      

/* #mobile1{

    padding:20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    
} */

@media screen and (max-width: 768px){

    /* #mobile1{

        display: contents;
    
        
    } */
}




/* #mobile2{

    padding:20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    
}
      */
     


#myForm{

text-align: center;

}
@media screen and (max-width: 768px){
#myForm{


margin-bottom:40px;

}
    /* #mobile2{

        display: contents;
    
        
    } */

    .test{
        width:100%;
    }
    #select{

        width:100%;
 
    }
}  