.container{
padding:20px;
display: grid;
grid-template-columns: 20% 20% 20% 20%;
justify-content: center;


}


.itemgrid{
padding:10px;
border: 1px solid black;


}


/*css for form astetics*/

.container2{
    padding:20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    
    
    }

.itemgrid2{
    padding:10px;
    border: 1px solid black;
    
    
    }


    @media screen and (max-width: 768px) {
    #btnSubmit{

        width: 100%;
    }




      }


     

      #mobile1{
        padding:20px;
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        justify-content: center;
        
        
        }


        
      #mobile2{
        padding:20px;
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        justify-content: center;
        
        
        }